/* Document Struction 
	
	Tag Formatting
	Objects
	Moduels or Components
	Layouts - Outside In - Top to bottom 
	Page
	
*/


/* General Page Styling */

* {
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	

}

body {
	
	background-image: url("gdlogobg.gif");
	background-repeat: repeat;
	background-size: 100px;
	background-color: rgba(255,255,255,0.23);
		
}

/* STYLING LINKS */

 /* unvisited link */
.body
a:link {
    color: #ee2c7d;
}

/* visited link */
.body
a:visited {
    color: gray;
}

/* mouse over link */
.body
a:hover {
    background-color: yellow;
}

/* selected link */
.body
a:active {
    color: #EE2A7B;
}



/* Styling Links */

.shim {
	
	background-color: transparent;
	padding-left: 250px;
	width: 750px;
	padding-top: 100px;
	padding-bottom: 100px;
	
}
.shim
img {
	
	max-width: 500px;
	padding-top: 20px;
	padding-bottom: 10px;
	
}

.shim
img:hover {
	

	
}
	
	
	
h1 {
	
	font-family: "helvetica";
	color: #EE2A7B;
	
}

h2 {
	
	font-family: "helvetica";
	color: #EE2A7B;

	
}


h3 {
	
	font-family: "helvetica";
	color: #EE2A7B;
	
}




/* General Page Styling */




/* TOP  menu news archive about contact login */


.menu,
.menu .item {
	
	padding: 0;
	margin: 0;
	list-style: none;
	
	
}
.menu .item {
	display: inline-block;
}


/* Tablet-ish Media Query */


	nav.utility.menus
ul.menu {
	
	background-color: rgba(255,255,255,1);
	position: fixed;
	text-align: center;
	border: 1px solid gray;
	border-right: none;
	
	border-left: none;
	border-top: none;
	width: 100%;
	height: auto;
	top: 0px;
	
	left: 0;
	right: 0;
	z-index: 9999;
	overflow: hidden;
	min-width: 500px;
	
}


nav.utility.menus
ul.menu
li {
	
	padding-left:5px; 
	padding-right:5px;
	padding-top: 20px;
	padding-bottom: 20px;
		
	
}


.masthead
.utility.menus
a {
	
	text-decoration: none;
	color: gray;
	/* background-color: pink; */
	
}

.masthead
.social.menus
a {
	
	text-decoration: none;
	color: #7f7f7f;
	
}


.masthead
.navigation.menus
ul
li
a {
	
	text-decoration: none;
	color: grey;
	

	}



/* LINK STYLING FOR TOP NAVIGATIONLINK STYLING FOR TOP NAVIGATIONLINK STYLING FOR TOP NAVIGATIONLINK STYLING FOR TOP NAVIGATION */



/* unvisited link */
.masthead
.utility.menus
a:link {
   /* background-color: pink; */
   color: gray;
   }

/* visited link */
.masthead
a:visited {
    color: #00FF00;
}

/* mouse over link */
.masthead
.utility.menus
a:hover {
    color: #FF0070;
    font-weight: bold;
    font-style: oblique;
}

.masthead
.utility.menus
li:hover  {
	
	background-color: #e9e9e9;
}

/* selected link */
.masthead
.utility.menus
a:active {
    color: #0000FF;
}			

/* LINK STYLING FOR TOP NAVIGATIONLINK STYLING FOR TOP NAVIGATIONLINK STYLING FOR TOP NAVIGATION */

/* top menu news archive about contact login END END END */



/* left hand navigation events blog current work profiles opportunities */

.masthead {
	
	padding: 12px 0;
	height: 100%;
	width: 220px;
	
	
	color: white;
    /* background-color: pink;  */
	font-family: "Trebuchet MS";

	position: fixed;
	top: 0;
	left: 25px;
	text-align: center;
	margin-top: 150px;

	margin-bottom: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;

	
}



/* logo logo logo logo */




.layout.event.list
.brand {
	background-color: transparent;
	height: 300px;
	width: 100px;
	
	position: absolute;
	font-size: 48px;
	width: 160px;
	text-align: center;
	
	
	padding: 5px;
	margin-top: -10px;
	font-size: 80px;
		

}


/* left nagivagtion highest */



nav
ul.menu.level-1 {
	

	text-align: center;
	color: gray;
	
	
	
}

nav
ul.menu.level-1
li {
	
	background: transparent;
	display: block;
	width: 180px;
	padding: 5px;
	text-transform: uppercase;
	z-index: 9999;
	font-size: 16px;
	
}

/* left nagivagtion highest END */

/* navigation below the search bar LEFT side */





nav.social.menus
ul.menu
 {
	
	background: transparent;
	display: inline-block;
	width: 260px;
	text-align: center;
	
	position: fixed;
	top: 10px;
	left: 985px;
	
	
	z-index: 9999;
	/* background-color: pink; */
	
}

/* social media buttons below the search bar LEFT side */

nav.social.menus
ul.menu
{
position: fixed;

}


nav.social.menus
ul.menu
li {
	
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
	font-size: 12px;
	

	
	
	background: rgba(255,255,255,0.25);
	display: inline-block;
	width: 25px;
	height: 25px;
	
	
	padding: 5px;
	padding-left: 10px;
	text-transform: uppercase;
	z-index: -1;
	font-size: 16px;
	
	overflow: hidden;
	
	
}

/* NAV ICONS */




nav.social.menus
ul.menu
li:nth-child(1) {
	
	background-image: url("twitter.png");
	background-repeat: no-repeat;
	background-size: contain;
	
}

nav.social.menus
ul.menu
li {
	
	background-color: #EE2A7B;
	border-radius: 20px;
	padding: 15px;
    margin: 3px;
	border: 2px solid #EE2A7B;
}

nav.social.menus
ul.menu
li:nth-child(2) {
	
	background-image: url("tumblr.png");
	background-repeat: no-repeat;
	background-size: contain;
	
}

nav.social.menus
ul.menu
li:nth-child(3) {
	
	background-image: url("vimeo.png");
	background-repeat: no-repeat;
	background-size: contain;
	
}


nav.social.menus
ul.menu
li:nth-child(4) {
	
	background-image: url("behance.png");
	background-repeat: no-repeat;
	background-size: contain;
	
}

nav.social.menus
ul.menu
li:nth-child(5) {
	
	background-image: url("flickr.png");
	background-repeat: no-repeat;
	background-size: contain;
	
}

nav.social.menus
ul.menu
li
a {
	height: 25px;
	width: 25px;
	color: rgba(255,255,255,0);
	
}



.canvas {
	
	
	
	width: 95%;
	max-width: 1218px;
	margin: 0 auto;
}



/* FORM SEARCH BAR START*/
nav.utility.menus
form
.field {
	
	/* background: pink; */
	

}

																			
input#masthead-search {
	border: 2px solid grey;
	width: 130px;
	float: left;
	font-size: 12px;
	padding: 5px;
	text-align: left;
	text-transform: capitalize;
	letter-spacing: 1px;
	color: gray;
	border-radius: 0px;
	
	
	
	
}





form.form {
	
	width: 220px;
	border-radius: 0px;
	
}



	
	
form.form
.action
button.control
 
 {
	display: inline-block;
	text-transform: uppercase;
	padding-top: 1px;
    color: #FFF;
    letter-spacing: 1px;
    -moz-appearance: none;
    border-radius: 20px;
    padding: 5px;
    background-color: #ee2c7d;
} 



/* bottom content that was moved to the RIght side */

.sub {


	padding: 20px;
	color: gray;
	background-color: transparent;
	
	
	height: 100%;
	width: 280px;
	position: static;
	display: block;
	top: 0;
	
	
	right: 5px;
	overflow: hidden;
	text-align: center;
	z-index: 15;
	
	margin-left: 70px;
	margin-top: -250px;
		
}

input#mce-EMAIL.required.email {
	
	background-color: white;
	width: 150px;
	border: 2px solid gray;
	margin-bottom: 5px;
	border-radius: 0px;
}

input#mc-embedded-subscribe.button {
	background: #EE2A7B;
	color: white;
	letter-spacing: 1px;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 20px;
	padding: 5px 25px;
	padding-right: 25px;
	padding-left: 25px;
	
}


.sub
.subscribe.segment
h2 {
	
	/* background: pink; */
	background-image: url("maillogo.gif");
	background-repeat: no-repeat;
	background-size: contain;
	height: 150px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	color: gray;
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 100px;
}


/* CALENDAR WILL COME BACK TO THIS  */

.sub
.calendar.segment {
	width: 120px;
	border: none;
	
	

}


.calendar.segment,
table.mini.cal.ui {
	
	background-color: white;
	border: 2px solid gray;
	position: static;
	bottom: 0;
	z-index: 100;
	

}

.mini.cal.ui .events.day {
	position: relative;
	z-index: 1;
}

.mini.cal.ui .link.day {
	display: block;
}

.sub
table.mini.cal.ui
caption {
	
	color: #ee2c7d;
	font-weight: bold;
}

.sub
.table.mini.cal.ui
td, th {
	
	padding: 3px;
}


/*
.mini.cal.ui .link.day:hover + .event.link {
	display: block;
}
*/


.mini.cal.ui .event.link {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	background: pink;
}


table.mini.cal.ui
thead.days
span.abbr-mid,
.mini.cal.ui .event.link {
	display: none;	
}

.sub
.calendar.segment 
a:link { 
	color: gray;
	text-decoration: none;

   
}

/* visited link */
.sub
.calendar.segment 
a:visited {
    color: #00FF00;
}

/* mouse over link */
.sub
.calendar.segment 
a:hover {
    color: #FF00FF;
}

/* selected link */
.sub
.calendar.segment 
a:active {
    color: #0000FF;
}

.sub
a:link {
   color: gray;
   text-decoration: none;
}

/* visited link */
.sub
a:visited {
    color: #00FF00;
}

/* mouse over link */

.sub
a:hover {
    color: #FF00FF;
}

/* selected link */
.sub
a:active {
    color: #0000FF;
}							




/* calendar styling end */



/* MIDDLE MIDDLE MIDDLE content main content */

/* MOSAIC FLOW TEXT WILL ACTIVATE IF THE JQUERY PLUG IN IS IN THE DOCUMENT */









.mosaicflow__column {
    float:left;
    }
.mosaicflow__item {
	position:relative;
	}    
.mosaicflow__item img {
    display:block;
    width:100%;
    height:auto;
    max-width:300px;
    z-index: -1;
   
}









/* mosaic flow end */







h1.page.heading
 {
	
	text-align: center;
	text-transform: uppercase;
	background-color: transparent;
	border: transparent;
	background-image: url("eventslogo.gif");
	background-repeat: no-repeat;
	background-size: auto;
	margin-top: 250px;
	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
	
		
}



.item.events
.content {
	
	background-color: transparent;
	min-width: 300px;
	max-width: 300px;
	z-index: -1;
	position: relative;
	border: 1px solid rgba(190,190,190,0.66);
	padding: 10px;
	
	
}

.items.events.ui {
	width: 630px;
	background-color: transparent;
}

.item.event,
.content {
	
	padding: 5px;
	
}





.action {
	text-align: center;
}			

/* unvisited link */
.main
a:link {
 text-decoration: none;
 color: #EE2A7B

   
}














/* BEGINNING FOOTER STYLING FOOTER STYLING FOOTER STYLING FOOTER STYLING */







footer.footer {
	
	background-color: transparent;
	position: fixed;
	width: 100%;
	height: 40px;
	left: 0;
	bottom: 0;
	padding-left: 50px;
	
	
}

nav.departments.menus
ul {
	
	font-size: 15px;
	text-transform: uppercase;
	
}

nav.departments.menus
ul
li {
	
	padding: 5px;
	color: #EE2A7B;
    font-weight: bold;
	
}

nav.departments.menus /* MICA LOGO GOES HERE */
ul
li:first-child {
	
	background-color: transparent;
	background-image: url("mica-logo.png");
	background-size: contain;
	background-repeat: no-repeat;

}

nav.departments.menus /* MICA LOGO GOES HERE */
ul
li
a:first-child {
	


}



/* LINK FOOTER NAVIGATION STYLING LINK FOOTER NAVIGATION STYLING FOOTER NAVIGATION STYLING */







/* unvisited link */
nav.departments.menus
a:link {
   color: #EE2A7B;
   }

/* visited link */
nav.departments.menus
a:visited {
    color: #EE2A7B;
}

/* mouse over link */
nav.departments.menus
a:hover {
    color: #ff0070;
    font-style: oblique;
    background-color: rgba(158,158,158,0.51)
}

/* selected link */
nav.departments.menus
a:active {
    color: #0000FF;
}	

nav.departments.menus /* MICA LOGO GOES HERE */
ul
li
a:first-child {
	
	color:  rgba(255,255,255,0);

}





		
/* LINK FOOTER STYLING LINK FOOTER STYLING LINK FOOTER STYLING LINK FOOTER STYLING  */

footer
p.legal {
	background-color: transparent;
	margin-top: 0;
	right: 0;
	position: absolute;
	display: none;
}








/* FOOTER STYLING END FOOTER STYLING END FOOTER STYLING END */



@media (max-width: 640px) {
	
	.shim {
		
		background: pink;
		
	}
	
	nav.utility.menus ul.menu {
		
		height: auto;
		
		
	}
	
	nav.utility.menus ul.menu li {
		
		display: block;
		border-bottom: 1px solid gray;
		padding: 5px;
		
	}
	
	
	
nav
ul.menu.level-1, {
	

	text-align: center;
	background-color: green;
	
	
	
}

.sub {


	padding: 20px;
	color: gray;
	background-color: pink;
	
	
	height: auto;
	width: 280px;
	position: static;
	display: block;
	
	
	
	right: 5px;
	overflow: hidden;
	text-align: center;
	z-index: 15;
	
	margin-left: 50%;
	margin-right: 50%;
	
	bottom: 0;
		
}








	
}/* end media query */








/* PROFILE PAGE GENERAL STYLING PROFILE PAGE GENERAL STYLING PROFILE PAGE GENERAL STYLING PROFILE PAGE GENERAL STYLING PROFILE PAGE GENERAL STYLING */





