/* Document Struction 
	
	Tag Formatting
	Objects
	Moduels or Components
	Layouts - Outside In - Top to bottom 
	Page
	
*/

* {
	box-sizing: border-box;
	
}
body.layout.event.list {

	font-family: "bell gothic std";
	height: 1000px;
		
	
}
.shim {
	
	background-color: yellow;
	padding-left: 200px;
	padding-top: 100px;
	
	
}
	
	
	
}

h1,
h2,
h3,
h4,
h5,
h6, {
	
	
	
}

.menu,
.menu .item {
	
	padding: 0;
	margin: 0;
	list-style: none;
	
}
.menu .item {
	display: inline-block;
}

.menu.center {
	
}

.masthead {
	
	padding: 12px 0;
	color: white;
	background-color: #64d7f3;
	height: 100%;
	width: 160px;
	position: fixed;
	top: 0;
	left: 40px;

	
}

.brand {
	background-color: pink;
	font-size: 48px;
	width: 160px;
	text-align: center;
	padding: 5px;
	margin-top: 55px;
	

}

.brand
a {
	
	
}

nav
ul.menu.level-1 {
	
	background-color: transparent;
	text-align: center;
	color: gray;
	
}

nav
ul.menu.level-1
li {
	
	background: white;
	display: block;
	width: 160px;
	padding: 5px;
	margin-top: 5px;
	text-transform: uppercase;
	font-size: 12px;
	
}

nav.utility.menus {
	

	
}

nav.utility.menus
ul.menu {
	
	background-color: #4c4c4c;
	position: fixed;
	text-align: center;
	width: 100%;
	top: 10px;
	left: 0;
	right: 0;
	padding: 7px;
	z-index: 10;
	
}

nav.utility.menus
ul.menu
li {
	
	padding-left:5px; 
	padding-right:5px; 
	
}


nav.social.menus
ul.menu
 {
	
	background: transparent;
	display: block;
	width: 160px;
	text-align: center;
	
}


nav.social.menus
ul.menu
li {
	
	background: gray;
	display: block;
	padding: 5px;
	margin-top: 5px;
	font-size: 12px;
	text-transform: uppercase;
	font-size: 12px;
	
}




.masthead a {
	
	text-decoration: none;
	color: white;
}

.canvas {
	
	
	
	width: 95%;
	max-width: 1218px;
	margin: 0 auto;
}


.masthead {
	margin-bottom: 15px;
	
}

																			/* FORM SEARCH BAR START*/
																			
input#masthead-search {
	
	width: 160px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	padding: 5px;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: gray;
	
}	


.action {
	text-align: center;
}																		
																			
																			/* FORM SEARCH BAR FINISH*/
																			
																			
																			

@media screen and (min-width: 640) {
	
	.masthead {
		overflow: hidden;
	}
	 
	.masthead .brand {
		float: left;
		width: 30;
		
	}
	
	.masthead .utility {
		float: right;
		width: 20%;
	}
	
}

.l-home .masthead {
	
	border-bottom: 20px solid lime;
}

